*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #0a0a0a;
  background: #0a0a0a;
  max-width: 350px;
  margin: 1px auto;
  padding: 1px;
  border: 1px solid #0a0a0a;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 26px;
  background-color: #ffd800;
  border: 1px solid #ffd800;
  text-align: center;
  width: 100%;
  border: none;
  outline: none;
  color: #0a0a0a;
  background: #ffd800;
  cursor: pointer;
  position: relative;
  z-index: 0;
  margin-bottom: 13px;
}

img {
  width: 10%;
  margin-bottom: 5px;
}

input[type="coin"],
select {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 26px;
  background-color: #1c1c1c;
  border: 1px solid #1c1c1c;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0;
  outline: 0;
  color: #ffd800;
  background: #1c1c1c;
  cursor: pointer;
  position: relative;
  z-index: 0;
  box-shadow: 0 1px 0 #1c1c1c inset;
  transition: all .2s ease;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}

input::placeholder {
  color: #292929;
}